/*@tailwind base;*/
/*@tailwind components;*/
/*@tailwind utilities;*/


/*body {*/
/*  margin: 0;*/
/*  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
/*    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
/*    sans-serif;*/
/*  -webkit-font-smoothing: antialiased;*/
/*  -moz-osx-font-smoothing: grayscale;*/
/*}*/

/*code {*/
/*  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',*/
/*    monospace;*/
/*}*/


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'San Francisco', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  color: #1d1d1f; /* Apple's typical text color */
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

p {
  line-height: 1.6;
}

/* Custom styles for links */
a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
